PORT=8080

DB_WRITER_HOST=localhost
DB_READER_HOST=localhost
DB_PORT=5432
DB_NAME=mocks
DB_SSL_MODE=disable

DB_MOCKS_USER=mocks
DB_MOCKS_PASSWORD=mocks
DB_MOCKS_SCHEMA=public

# PUBLIC_BASE_URL=https://api.example.com
